body {
    background-color: #EBE9E9;
    box-sizing: border-box;  
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 0;
    margin: 0;
}

textarea:focus, input:focus {
    outline: none;
}

.tittle-container {
    position: absolute;
    height: auto;
    width: 100%;
    background-color: #F06D6D;
    top: 0px;
}

.tittle {
    text-align: center;
    font-size: 23px;
    color: #060606;
}

.login-container {
    background-color: #F06D6D;
    width: 520px;
    height: 509px;
    left: 383px;
    top: 10px;
    margin-top: 150px;
    margin-left: 510px;
    border-radius: 10px;
}
.login-tittle {
    text-align: center;
    font-size: 24px;
    padding-top: 2px;
}

.input-box {
    margin-left: 85px;
    padding-top: 50px;
}

.label-input {
    font-size: 27px;
}

.input-user {
    width: 340px;
    height: 30px;
    border-radius: 10px;
    border-color: #EBE9E9;
    border-style: inherit;
    font-size: 23px;
    padding-left: 14px;
}

#submit {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border-color: #EBE9E9;
    font-family: 'Open Sans', sans-serif;
    color: #060606;
    font-weight: bold;
    font-size: large;
    
}

.button-container {
    align-content: center;
    padding-top: 15px;
    padding-left: 100px;
}
